
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 } 
 body{
    background-image: url(kohji-asakawa-KVBSOTQvKyk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 } 
 nav{
    height: 80px;
    background: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0px 50px 0px 100px;
 }
 nav .logo{
    font-size: 33px;
    color: #fff;
    font: 600;
 }
 nav ul{
    display: flex;
    list-style: none;
 }
 nav ul li{
    margin: 0 5px;
 }
 nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius:5px;
    transition: all 0.3s ease;
 }
 nav ul li a:hover{
    color: cyan; 
    background:none
 }
 nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
 }  
 #click{
    display: none;
 }
 @media(max-width:940px){
    nav .menu-btn i{
       display: block;
    }
    nav ul{
       position: fixed;
       top: 80px;
       left: -100%;
       background: #111;
       height: 100vh;
       width: 100%;
       display: block;
       text-align: center;
       transition: all 0.3s ease;
    }
    #click:checked ~ ul{
       left: 0%;
    }
    nav ul li{
       margin: 40px 0;
    }
    nav ul li a{
       font-size: 20px;
       display: block;
    }
 }
.sticky{
    position: fixed;
    width: 100%;
    top: 0;
    }
.home{
    display: flex;
    justify-content: space-around;
    margin-top: 110px ;
}
.home >div{
    width: 70%;
    
}
.lft-content{
    font-size: 2.5rem;

    /*margin: 70px 0;*/

}
.left-content{
    height: 100vh;
    display: flex;
    align-items: center;
 }
 .left-content{
    background: none;
    width: 70%;
    padding-left: 3rem;
 }
.container{
    margin-left: 3rem;
    font-size: 2.5rem;

}

.icons{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
 }
 .icons .fa-brands{
    color: #1d1d1d;
    font-size: 2rem;
 }
 .icons .fa-brands:hover{
    cursor: pointer;
    background: linear-gradient(#111,#3877FF);
 
 }



.home-img img {
    width: 25vw;
    animation:floaimage 4s case-in-out infinite;
    border-radius: 100%;
    border: 2px solid black;

}
@keyframes floatimage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0)
    }
}
.purple{
    color:lightseagreen;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    background: var(--snd-bg-color);
}
.about-img img{
    width: 35vw;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #1e90ff;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
}

h1{
    text-align: center;

}
h3{
    margin: 5px;
}
.skill{
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0, 0, 0.22);
    background: #111;
}
.skill li{
    margin: 20px 0;
    padding: 10px;
    list-style: none;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0, 0, 0.24);                      
    transform:all 0.3sec cubic-bezier(.25, .8, .25, 1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0, 0, 0.22);
}
.bar span{
    height:20px;
    float:left;
    background: linear-gradient(135deg, rgb(0, 212, 236)0%, rgb(103, 242, 252)100%);
}
.html{
    width: 90%;
    animation: html 3s;
}

.css{
    width: 70%;
    animation: css 3s;
}

.React{
    width: 45%;
    animation: php 3s;
}

.javascript{
    width: 60%;
    animation: javascript 3s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes php{
    0%{
        width: 0%;
    }
    100%{
        width: 45%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
  
}
 @media(max-width:768px){
    .skill{
        width:40vw;
    }
    .bar{
        padding: 7rem;
    }
 }
 @media (max-width:600px) {
    .skill{
        width:100%;
        margin: 20px auto;
        padding: 20px;
}
.bar{
   padding: 5rem;
}
 }
.project h2{
    margin-bottom: 5rem;    
}
.services-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
.services-container .services-box{
    flex:1 1 1rem;
    background: #1e8fff2a;
    padding: 2rem 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem, solid blueviolet;
    transition: .5s ease;
}
.services-container .services-box:hover{
    border-color: #353b48;
    transform: scale(1.02);

}
.services-box{
    font-size: 7rem;
    color: #353b48;
}
.services-box{
    font-size: 2.6rem;
}
.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.contact h2{
    margin-bottom: 3rem;

}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.contact form .input-box input, 
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #1b1b1b;
    background:#1d1d1d;
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize:none
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: #3877FF;
}
.footer-text{
    font-size: 1.6rem;
}
.footee-iconTop{
    display: inline-flex;
    justify-content: center;
    padding: .8rem 1rem;
    background: #353b48;
    border-radius: .8rem;
    transition: .5s case;
}
.footer-iconTop a:hover{
 box-shadow: 0 0 1rem var(--main-color);
}
footer-iconTop a i{
    font-size: 2.4rem;
    color: #1e90ff;
}
@media(max-width: 600px){
    html{
        font-size: 55%;
    }
}
@media(max-width: 600px){
    /*.header{
        padding:2rem 3%;
    }*/
    section{
        padding: 10rem 3%;
        margin: auto;
    }
    .services{
        padding: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width:600px){
    #menu-icon{
        display: block;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size:2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-content{
        order:2
    }
    .home-img img{
       width: 70vw;
       margin-top: 4rem;
    }
    .about{
        flex-direction: column;
    }
}
